#main {
    min-height: 100vh;
}

#backImage {
    position: absolute;
    opacity: 0.1;
    top: 40%;
    right: 10%;
    z-index: 0;
}

#Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.04);
    padding: 1.2rem 0.2rem;
    border-radius: 0.5rem;
}

#topLeft {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
}

#FormArea {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 2rem;
    gap: 2rem
}

#formHead {
    font-size: 3rem;
}

.inpHead {
    padding: 1rem 0;
    font-size: 2rem;
    letter-spacing: 2px;
}

.input {
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: rgb(226, 218, 218);
}

.input::placeholder {
    font-family: 'Amatic SC', monospace;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.input:focus {
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    color: black;
}

#FormRight {
    font-size: 2rem;
    max-width: 40%;
}

#FormRight span {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.678);
}

#submitButton {
    background-color: var(--theme-color);
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    color: #111;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

#con {
    color: var(--theme-color);
}



@media screen and (max-width:700px) {
    #backImage {
        position: absolute;
        opacity: 0.1;
        top: 40%;
        z-index: 0;
    }

    #FormArea {
        flex-direction: column-reverse;
        padding: 1rem;
    }

    #FormRight {
        max-width: 100%;
    }
}