@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', monospace;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;


}

main {
  padding: 2rem;
  background-color: #111;



}

:root {
  --theme-color: #41bfcd;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

#menu {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 600;
}


#navLeft {
  cursor: pointer;
}

#navRight {
  display: flex;
  gap: 1rem
}

#navRightIcons {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

#navRightDemo {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-weight: 900;
  font-size: 1.3rem;
}

footer {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem;
}

#mobMenu {
  height: 100vh;
  background-color: #111;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 500ms ease;
}

#mobHeading {
  color: white;
  text-align: left;
}

.mobLinks {
  color: white;
  font-size: 3rem;
  transition: 400ms ease;
}

#mobMenuInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobLinks:hover {
  background-color: var(--theme-color);
  padding: 0 1rem;
  border-radius: 0.2rem;
}

#MobClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

#tempContent {
  height: 100vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#socials {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#comments {
  height: 150px;
  resize: none;
}

@media screen and (max-width:700px) {
  nav {
    background-color: #111;
    width: 100%;
    left: 0;
  }

  #navRight {
    display: none;
  }


}