#peace {
  position: absolute;
  z-index: 1;
  right: 0;
  opacity: 0.05;
  height: auto;

}

#peace1 {
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  overflow: hidden;

}

#container {
  overflow: hidden;
}

#mainTop {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6rem;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
  min-height: 100vh;


}

#head {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}

#nameBelow {
  font-size: 1.4rem;
  color: var(--theme-color);
}


#headCards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;

}

.headCard {
  color: white;
  max-width: 20vw;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.141);
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.053);
  border-radius: 0.5rem;
}

.headCardHead {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.416);
}

.cardContent {
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: #d7cfcf;
}

.cardContent span {
  background-color: white;
  color: #111;
}

.headMore {
  background-color: var(--theme-color);
  color: #111;
  padding: 0.4rem 0.5rem;
  margin: 0.4rem 0;
  border-radius: 0.2rem;
  font-weight: 600;

}

#stats {
  z-index: 3;
  margin-top: 2rem;

  border-radius: 0.5rem;
}

#statsAreaBack {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

#statsArea {
  display: flex;
  color: white;
  align-items: center;
  gap: 2rem;
}

.statsColumn {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.105);
  flex-direction: column;
}

.statsColumnHead {
  font-size: 3rem;

}

.statsData {
  font-size: 3rem;
  font-weight: 600;
}

#news {
  margin-top: 2rem;

}

#newBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newsHead {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  text-align: center;
}

.nesSub {
  font-size: 1.2rem;
}

#newsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 4rem;
  gap: 2rem
}

.newsCard {
  background-color: rgb(235, 227, 216);
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: min-content;
  border-radius: 0.4rem;
}

.newsImage {
  border-radius: 0.2rem;
  box-shadow: rgba(100, 100, 111, 0.49) 0px 7px 29px 0px;
}

.newsDetails {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.newsDetails span {
  font-weight: 900;
}

.newsAction {
  margin-top: 0.4rem;
  background-color: #111;
  padding: 0.2rem;
  color: white;
  border-radius: 0.2rem;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.49) 0px 7px 29px 0px;

}

#demoo {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d7cfcf07;
  border-radius: 0.6rem;
}

#demoBack {
  display: flex;
  padding: 0 8rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.demooContent {

  color: white;
}

#demoContentHeading {
  font-size: 2.2rem;
  font-weight: 900;
}

#demoDetails {
  font-size: 1.6rem;
  letter-spacing: 1.7px;
  color: #d7cfcf;
}

#submitDemo {
  background-color: white;
  width: fit-content;
  color: #111;
  padding: 0.2rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  font-weight: 900;
  font-size: 1.6rem;
}

#upcoming {
  margin-top: 3rem;
}

#upcomingBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#upcomingReleasesCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.upcomingCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 0.7rem;
  overflow: hidden;

}



.Date {
  padding: 1rem 4rem;
  font-size: 6rem;
  background-color: rgb(224, 227, 229);

}

.Date span {
  font-size: 2rem;
}

.Month {
  font-size: 2rem;
  text-align: center;
  background-color: var(--theme-color);
  color: white;
  width: 100%;
  padding: 0.2rem 0.5rem;

}

.upcmomingData {
  font-size: 2rem;
  width: 100%;
  text-align: center;


}

.upReleaseName {
  font-weight: 800;
  font-size: 2rem;
}

.upArtist,
.presave {
  font-size: 1.54rem;
}

.presave {
  background-color: rgb(213, 113, 113);
}

@media screen and (max-width:1200px) {
  #mainTop {
    padding: 0 2rem;
  }

  #mainLogo {
    width: 300px;
  }

  .headCard {
    max-width: unset;
    min-width: 20vw;
  }

  #newsCards {
    grid-template-columns: 1fr 1fr;
  }

  #demoDetails {
    font-size: 1.3rem;
  }

  #demoBack {
    padding: 0 2rem;
  }

  .demooContent {
    padding: 1rem 0;
  }
}

@media screen and (max-width:940px) {
  #name {
    text-align: center;
  }

  #mainTop {
    flex-direction: column;
    align-items: center;
  }

  #peace {
    display: none;
  }

  #demoBack {
    padding: 0 1rem;
  }

  #demoInage {
    width: 300px;
  }

  #stats {
    background-color: #111;
  }

  #statsArea {
    color: white;
  }

  #newsCards {
    padding: 0 1rem;
  }

  .newsImage {
    width: 200px;
    height: auto;
  }

  #peace1 {
    width: min-content;
  }
}

@media screen and (max-width:700px) {

  #headCards {
    grid-template-columns: 1fr;
  }

  .headCard {
    width: 75vw;
  }

  #demoo {
    flex-direction: column;
  }

  #newsCards {
    grid-template-columns: 1fr;
  }

  .newsCard {
    width: 65vw;
    display: flex;
    align-items: center;

  }

  .newsImage {
    width: 100%;
  }

  .newsDetails {
    width: 60vw;
    margin: 0;
  }

  .statsColumnHead {
    font-size: 1.5rem;

  }

  .statsData {
    font-size: 2.3rem;
    font-weight: 600;
  }

  #peace1 {
    width: 90vw;
  }

  .upcomingCard {
    width: 70vw;
  }

  #demoInage {
    height: min-content
  }

  #demoDetails {
    padding: 0.5rem;
    text-align: justify;
  }

  #demoBack {
    padding: 0;
  }

  #demoContentHeading {
    padding: 0.5rem;
  }

  #submitDemo {
    margin: 0.5rem;
    width: 90vw;
  }

  .date {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}